{% extends "base.html" %}
{% block content %}

<h2>Customer Contact</h2>

<form method="POST" enctype="multipart/form-data">
    <input name="name" placeholder="Your Name" required><br><br>
    <input name="phone" placeholder="Phone Number" required><br><br>
    <input type="file" name="image" required><br><br>
    <textarea name="message" placeholder="Message (optional)"></textarea><br><br>
    <button type="submit">Submit</button>
</form>

{% if last_track_id %}
<div style="
    margin-top:15px;
    padding:15px;
    border:1px solid #4CAF50;
    background:#f0fff4;
    border-radius:8px;
">
    <strong>Your Track ID:</strong>
    <span style="font-size:18px;">{{ last_track_id }}</span>
    <br>
    <small>Save this ID to track your request.</small>
</div>
{% endif %}

<a href="/track"
   style="
   display:inline-block;
   margin-top:15px;
   padding:10px 20px;
   background:#111;
   color:white;
   text-decoration:none;
   border-radius:20px;
   ">
   Track Your Request
</a>


{% endblock %}
