{% extends "base.html" %}

{% block content %}

<section class="section">
    <h2 class="section-title">Inside Our Production Studio</h2>
    <p class="section-desc">
    A glimpse into our embroidery production studio, where advanced machines
    and skilled craftsmanship come together to create high-quality work
    with precision and consistency.
    </p>


    {% if home_images %}
    <div class="gallery">
        {% for image in home_images %}
            <div class="gallery-item">
                <img
                    src="{{ url_for('static', filename='images/home/' ~ image) }}"
                    onclick="openLightbox(this.src)"
                >
            </div>
        {% endfor %}
    </div>
    {% else %}
        <p class="empty-text">No designs uploaded yet.</p>
    {% endif %}
</section>

{% endblock %}


<!-- CTA SECTION -->
    <section style="
        margin-top: 60px;
        background: #111;
        color: white;
        text-align: center;
        padding: 80px 20px;
        border-radius: 14px;
    ">
        <h2 style="color:white;">Have a Design in Mind?</h2>
        <p style="opacity:0.85;margin-top:10px;">
            Upload your design and let us bring it to life.
        </p>

        <a href="{{ url_for('customer') }}"
           style="
           display:inline-block;
           margin-top:30px;
           padding:14px 40px;
           background:white;
           color:black;
           text-decoration:none;
           border-radius:40px;
           font-weight:600;
           transition:0.3s;
           ">
           Upload Your Design
        </a>
    </section>

<!-- FOOTER -->
<footer>
    © {{ datetime.utcnow().year }} I.F Fashion · All Rights Reserved
</footer>

</body>
</html>
